.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#btnPesquisar {
    margin-top: 4rem;
    padding: 4rem;
    box-shadow: 2px 0.5px 0
        5px rgba(224, 7, 7, 0.548);
    font-weight: 700;
    text-align: center;
    border-radius: 0.5rem;
    text-transform: uppercase;
    background-color: blueviolet;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

#btnPesquisar:hover {
    background-color: rgba(205, 9, 169, 0.669);
    box-shadow: 3px 1px 22px rgba(224, 7, 199, 0.548);
}

.textoDiv {
    display: block;
    text-align: center;
    text-trasnform: uppercase;
}

.texto {
    display: block;
    text-align: center;
    text-trasnform: uppercase;
}
