.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnPesquisar {
    margin-top: 4rem;
    padding: 4rem;
    box-shadow: 3px 1px 22px rgba(224, 7, 7, 0.548);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: blueviolet;

    font-family: Arial, Helvetica, sans-serif;
    
}

#btnPesquisar:hover {
    background-color: rgba(205, 9, 169, 0.669);
    box-shadow: 3px 1px 22px rgba(224, 7, 199, 0.548);

}