/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* TE AMO */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #af4491da, #c77dc79c);
    background-repeat: no-repeat;
    background-size: cover;
}


.container {
    text-align: center;
    padding: 1rem;
}

#btnPesquisar {
    padding: 4rem;
    box-shadow: 6px 6px 12px rgba(83, 4, 48, 0.548);
    border: 0px;
    font-weight: 700;
    text-align: center;
    border-radius: 0.5rem;
    text-transform: uppercase;
    background-color: rgb(116, 8, 89);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    transition: 0.3s ease-in-out;
}

#btnPesquisar:hover {
    background-color: rgba(234, 0, 255, 0.669);
    box-shadow: 6px 6px 12px rgba(224, 7, 199, 0.548);
}

.texto {
    font-size: 1rem;
    margin-top: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.textoDiv {
    margin-top: 2rem;
    width: 2rem;
    text-transform: uppercase;
    text-align: center;
}
